#app {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    color: #282828;
  }

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px 15px;

  @include mobile {
    width: 420px;
    padding: 0px 30px;
  }
  
  @include tablet {
    width: 708px;
  }
  
  @include desktop {
    width: 1140px;
  }
}

.section {
  padding-bottom: 35px;
  padding-top: 35px;
}

.title {
  display: block;
  font-size: 40px;
  margin-bottom: 18px;
}

// Reset
body,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    width: 174px;
    height: 40px;
    border-radius: 50px;
}

.list {
    list-style: none;
    padding: 0px;
}

.link {
    text-decoration: none;
}