.app-header {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 1024px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__position-box {
        display: flex;
        gap: 15px;
        align-items: center;

        @media screen and (min-width: 1024px) {
            gap: 40px;
        }
    }

    &__burger-box {
        padding: 15px;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 0;

        @media screen and (min-width: 1024px) {
            position: static;
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 0;
        }
    }

    &__login-btn {
        color: white;
        background-color: #3C6BFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        width: 120px;
        height: 40px;
        border-radius: 50px;

        @media screen and (min-width: 1024px) {
            width: 174px;
            height: 45px;
        }
    }

    &__actions {
        display: flex;
        gap: 15px;

        @media screen and (min-width: 1024px) {
            gap: 40px;
        }
    }

    &__button-action {
        position: relative;
        background-color: transparent;
        max-width: 40px;
        max-height: 40px;
    }

    &__total-count {
        position: absolute;
        right: 10%;
        bottom: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF9900;
        color: #F0F0F0;
        font-size: 9px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    &__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .active {
        background-color: beige;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3ms ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}