.app-header {
    display: flex;
    min-height: 45px;
    
    &__logo {
    margin: auto;
    margin-left: 0px;
    }

    &__login {
        margin-left: 40px;
        margin-right: 40px;
    }

    &__login-btn {
        color: white;
        background-color: #3C6BFF;
    }

    &__actions {
        display: flex;
        gap: 40px;
    }

    &__button-action {
        background-color: transparent;
        max-width: 46px;
        max-height: 46px;
    }
}
